<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Delete Message Confirmation</h1>
    <form action="/messages/delete/<%= messageId %>" method="post">
      <p>Are you sure you want to delete the message?</p>
      <button type="submit">Delete</button>
    </form>
    <a href="/">Return home</a>
  </body>
</html>
