<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Create an Account</h1>
    <form action="" method="get">
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" id="firstName" required />
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" id="lastName" required />
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" required />
      <label for="confirmPassword">Confirm password:</label>
      <input type="text" name="confirmPassword" id="confirmPassword" required />
      <button type="submit">Sign up</button>
      <p>Already have an account?</p>
      <a href="/login">Log in</a>
    </form>
  </body>
</html>
